@use "../base" as *;
@use "../abstract" as *;

.footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: $very-dark-black-blue;
    border-radius: 0 80px 0 0;
    margin-top: 2em;

    @include responsive(portatil)
    {
        height: 45vh;
        flex-direction: row;
        justify-content: space-around;
    }

    &__text-primary
    {
        margin-top: 2em;

        @include responsive(portatil)
        {
            transform: translate(1em, -2.5em);
            font-size: 35px;
        }
    }

    &__content
    {
        list-style: none;
        text-align: center;
        transform: translateX(-1.2em);

        @include responsive(portatil)
        {
            text-align: start;
            transform: translate(-2em, 1em);
            font-size: 14px;
        }

        &-company
        {
            @include responsive(portatil)
            {
                transform: translate(-6em, 0em);
            }
        }

        &-connect
        {
            @include responsive(portatil)
            {
                transform: translate(-8em, -.5em);
            }
        }
    }

    &__list
    {
        margin: .5em 0;
        line-height: 1.5;
    }

    &__link
    {
        text-decoration: none;
        color: $grayish-blue;

        &:hover
        {
            text-decoration: underline;
        }
    }
}